<h1>Create post</h1>
<%= form_with model: @post do |form| %>
	<%= form.label :link%><br>
	<%= form.text_field :link %>
	<% @post.errors.full_messages_for(:link).each do |message| %>
      <div><%= message %></div>
	<% end %>
	<%= form.submit "Create" %>
<% end %>
